
<% @companies.each do |company| %>
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th><%= company.rate %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= company.service_name %></td>
      </tr>
      <tr>
        <td><%= company.review_time %></td>
      </tr>
    </tbody>
  </table>

<% end %>
